500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "../../Icons/Mainicon.ico"
#include <windows.h>
#include "main.h"

501 MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New", IDM_FILENEW
		MENUITEM "&Open...", IDM_FILEOPEN
		MENUITEM "&Save", IDM_FILESAVE
		MENUITEM "Save &as...", IDM_FILESAVEAS
		MENUITEM SEPARATOR
		MENUITEM "&Print...", IDM_FILEPRINT
		MENUITEM "Page se&tup...", IDM_FILEPAGESETUP
		MENUITEM "P&rinter setup...", IDM_FILEPRINTSETUP
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_FILEEXIT
	END

	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo", IDM_EDITUNDO
		MENUITEM SEPARATOR
		MENUITEM "&Cut\tShift+Del", IDM_EDITCUT
		MENUITEM "&Copy\tCtrl+Ins", IDM_EDITCOPY
		MENUITEM "&Paste\tShift+Ins", IDM_EDITPASTE
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&Contents\tF1", IDM_HELPCONTENTS
		MENUITEM "&Search", IDM_HELPSEARCH
		MENUITEM "&Using help", IDM_HELPHELP
		MENUITEM SEPARATOR
		MENUITEM "&About...", IDM_HELPABOUT
	END
END
